.App {
    text-align: center;
    background-image: url(./img/controller-2618897_1920.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}